/* Estilo base:
https://pt.wix.com/website-template/view/html/2622?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=b20fea54-093e-48fe-a7c5-7c02e6c3ca28
https://pt.wix.com/website-template/view/html/2312?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=33305979-af8e-4565-92d4-ed3e0a05f913
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 20px;
  width: 100%;
  background-color: white;

}

name {
  display: inline-block;
  width: 290px;
  text-align: center;

}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
}

h4 {
  font-size: 17px;
  font-weight: 200;
  margin: 0 10px;
  display: inline-block;
}

.Navigation {
  list-style: none;
  padding: 0;
  display: inline-block;
  font-size: 17px;
  font-weight: 200;
}

.Nav {
  display: inline-block;
}

a{
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  opacity: 0.9;  
  color:blue;
}

a:active{
  opacity: 0.7;
}

main{
  width: 100%;
  height: 100%;
  background-color: #E6DACE;
  padding: 70px 30px;
}

sectionAboutMe{
  padding: 0 20px 20px;
  
}

.mainLeft{
  width: 300px;
  height: 400px;
  display: inline-block;
  background-color: #f4ece6;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.6));
}

.circleImage{
  width: 200px;
  height: 200px;
  background-image: url(./img/perfil.jpg);
  background-size: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px 50px;
}

#contact{
  width: 300px;
  height: 65px;
  margin-top: 30px;
  padding: 20px 43px;
  background-color: white;
}

.contactIcon{
  width: 30px;
}

.mainRight{
  display: inline-block;
  width: 400px;
  margin: 0 20px;
}

.Hi{
  font-size: 100px;
  font-weight: 600;
  margin: 20px 0;
}

h2{
  font-size: 25px;
  font-weight: 400;
  margin: 20px 0;
}

sectionCurriculum{
  padding: 20px;
  border: 1px solid #000000;
  width: 100%;
  display: block;
  position: relative;
}

.language{
  border: 1px solid red;
  display:inline-block;
  position: absolute;
  right: 0;  
}

.languageIcon{
  width: 30px;
  line-height: 5px;
}

.box{
  background-color: white;
  width: 540px;
  height: 300px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.6));
  margin: 100px;
}

.boxLeft{
  border: 1px solid green;
  width: 170px;
  height: 100%;
  display:inline-block;
  padding: 50px 20px;
}

.imgBox{
  width: 60px;
  height: 60px;
  margin: 0 35px 25px;
}

#imgExp1{
  background-image: url(./img/Freelancer.jpg);
  background-size: 150px;
}

#imgExp2{
  background-image: url(./img/MóveisMegumi.png);
  background-size: 180px;
  background-repeat: no-repeat;
}

h3{
  font-size: 20px;
  color: blue;

}

.boxRight{
  border: 1px solid red;
  width: 300px;
  height: 100%;
  display: inline-block;
  padding: 50px 0;
  margin: 0 30px;

}