/* Estilo base:
https://pt.wix.com/website-template/view/html/2622?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=b20fea54-093e-48fe-a7c5-7c02e6c3ca28
https://pt.wix.com/website-template/view/html/2312?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=33305979-af8e-4565-92d4-ed3e0a05f913
 */

 *{
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
   padding: 20px;
   width: 100%;
   
}

name{
   display: inline-block;
   width: 300px;

}

 h1{
    font-size: 25px;
    font-weight: 600;
    margin: 0 10px;
    display: inline-block;
}

 h4{
   font-size: 17px;
   font-weight: 200;
   margin: 0 10px;
   display: inline-block;
 }

 .Navigation{
   list-style: none;
   padding: 0;
   display: inline-block;
   font-size: 17px;
   font-weight: 200;
   
 }

 .Nav{
   display: inline-block;
   margin-right: 20px;
 }