/* Estilo base:
https://pt.wix.com/website-template/view/html/2622?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=b20fea54-093e-48fe-a7c5-7c02e6c3ca28
https://pt.wix.com/website-template/view/html/2312?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button&esi=33305979-af8e-4565-92d4-ed3e0a05f913
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 20px;
  width: 100vw;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}


name {
  display: inline-block;
  width: 290px;
  text-align: center;

}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
}

h4 {
  font-size: 17px;
  font-weight: 200;
  margin: 0 10px;
  display: inline-block;
}

.Navigation {
  /* border: 1px solid black; */
  list-style: none;
  padding: 0;
  display: inline-block;
  font-size: 17px;
  font-weight: 200;
  margin-left: 50px;
}

.Nav {
  display: inline-block;
}

a{
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  opacity: 0.9;  
  color:blue;
}

a:active{
  opacity: 0.7;
}

main{
  width: 100%;
  height: 100%;
  background-color: #E6DACE;
  padding: 170px 30px;
}

#aboutMe{
  border: 1px solid black;
  width: 100%;
  height: 5px;

}

sectionAboutMe{
  padding: 0 20px 20px;
  
}

.mainLeft{
  width: 300px;
  height: 400px;
  display: inline-block;
  background-color: #f4ece6;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.6));
}

.circleImage{
  width: 200px;
  height: 200px;
  background-image: url(./img/perfil.jpg);
  background-size: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px 50px;
}

#contact{
  width: 300px;
  height: 65px;
  margin-top: 30px;
  padding: 20px 43px;
  background-color: white;
}

.contactIcon{
  width: 30px;
}

.mainRight{
  display: inline-block;
  width: 400px;
  margin: 0 20px;
}

.Hi{
  font-size: 100px;
  font-weight: 600;
  margin: 20px 0;
}

h2{
  font-size: 25px;
  font-weight: 400;
  margin: 30px 0;
}

sectionCurriculum{
  padding: 20px;
  border: 1px solid #000000;
  width: 100%;
  display: block;
  position: relative;
}

.language{  
  display:inline-block;  
  position: absolute;
  right: 0;  
  margin-right: 30px;
}

.languageItem{  
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;  
}

.languageIcon{  
  width: 30px;
  line-height: 5px;
  margin: 5px;
}

.containerBox{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

}

.box{
  background-color: white;  
  display: flex;
  align-items: center;  
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.6));
  
}

.boxLeft{  
  width: 170px;
  height: 300px;
  display:inline-block;
  padding: 50px 20px;  
  background-color: #d19baf;
  text-align: center;
}

.boxLeft>h3{
  font-size: 20px;
  color: blue;  
}


.imgBox{
  width: 60px;
  height: 60px;
  margin: 0 35px 25px;  
}

#imgExp1{
  background-image: url(./img/Freelancer.jpg);
  background-size: 150px;
}

#imgExp2{
  background-image: url(./img/MóveisMegumi.png);
  background-size: 180px;
  background-repeat: no-repeat;
}

#imgExp3{
  background-image: url(./img/laboratorio.png);
  background-size: 100%;
}



.boxRight{
  height: 300px;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.slide {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}
.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}
.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}
.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}
.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ #carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ #carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ #carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ #carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ #carousel {
  --position: 5;
}